.timestamp {
  font-size: 10px;
}

.urlLink {
  font-size: 12px;
}

.indexList {
  font-size: 16px;
}

.display-inline-block {
  display: inline-block;
}

header {
  position: fixed;
  margin-bottom: 30px;
  width: 100%;
  z-index: 1;
}

.btn {
  margin-top: -3px;
}

.main-div{
  top: 32px;
}

.header-div {
  background-color: white;
}

.review-size {
  font-size: 13px;
}