<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body class="container-fluid">
  <header class="row">
    <% if current_user %>
      <div class="col-md-12 header-div">
        <a href="/posts/new" class="col-md-2 col-md-offset-1 btn btn-default">Add a Song</a>
        <a href="/posts" class="col-md-4 col-md-offset-1 btn btn-default">Music Wall</a>
        <a href="/logout" class="col-md-2 col-md-offset-1 btn btn-default">Log Out</a>
      </div> 
    <% else %>
      <div class="col-md-12 header-div">
        <a href="/login" class="col-md-3 col-md-offset-1 btn btn-default">Log In</a>  
        <a href="/signup" class="col-md-3 col-md-offset-4 btn btn-default">Sign Up</a>
      </div>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
