<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <% if current_user %>
      <a href="/logout" class="col-sm-1 pull-right nav btn btn-danger">Log Out</a>
      <a href="/posts/new" class="col-sm-1 pull-left nav btn btn-success">Add a Song</a>
    <% else %>
      <a href="/login" class="col-sm-1 pull-left btn nav btn-success">Log In</a>  
      <a href="/signup" class="col-sm-1 pull-right btn nav btn-success">Sign Up</a>  
    <% end %>
  <header>
  <%= yield %>
</body>
</html>
